#control
{
    display:flex;
    align-items:center;
    justify-content: center;   
    height: 6vh;
}

#control > * 
{
    height: 5vh;
    margin: 0 0.5vw;
}

#control input 
{
    border-radius: 2px;
    outline: none;
    border: 0.5px solid rgba(0, 0, 0, 0.329);
}

#control input:focus 
{
    outline: none;
}

#control button 
{
    border-radius: 2px;
    background-color:rgb(220, 20, 60);
    color: white;
    width: 7vw;
    text-align:center;
}


@media screen and (max-width: 768px)
{
    #control > * 
{
    margin: 0 1vw;
}
    #control button 
    {
       width: 20vw;
    }
}
