.App {
  padding: 3vh 0;
  text-align: center;
  width: 80vw;
  height: 80vh;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 9fr;
  background-color: #46728282 ;
  margin-top:10vh;
}
