.App {
  position: absolute;
  margin-left: 10vw; 
  padding: 3vh 0;
  text-align: center;
  width: 80vw;
  height: 90vh;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 9fr;
  margin-top:3vh;
}


@media screen and (max-width: 768px)
{
    .App
    {
        width:100vw;
        margin: auto;
    }
}